<os-dashboard [nameScreen]="'Buscar Produtos'"  [navigateToSearch]="''" [navigateToRegister]="'/register-product'">
    <form [formGroup]="formSearchProduct" class="form-container">
        <h4>Filtrar</h4>
        <p-iftalabel variant="in" class="field-item">
            <input pInputText id="sku" formControlName="sku" autocomplete="off" />
            <label for="sku">SKU</label>
        </p-iftalabel>
        
        <div class="same-line">
            <p-iftalabel variant="in" class="field-item ">
                <input pInputText id="name" formControlName="name" autocomplete="off" class="name" />
                <label for="name">Nome do produto</label>
            </p-iftalabel>
            <p-button class="btn-search" severity="warn" icon="pi pi-search" label="Buscar" badgeSeverity='danger' />
        </div>

        <p-table 
            [value]="products" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template #header>
                <tr>
                    <th>SKU</th>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.valueUnity }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    </form>
</os-dashboard>