<div class="login-page d-flex align-items-center justify-content-center">
  <div class="login-box rounded-4 overflow-hidden shadow">
    <div class="row g-0">
      <!-- Imagem à esquerda -->
      <div class="col-md-6 d-flex align-items-center justify-content-center bg-light">
        <img src="assets/logo.png" alt="OrderSale System" class="img-fluid p-4" />
      </div>

      <!-- Formulário à direita -->
      <div class="col-md-6 bg-white p-5">
        <h4 class="fw-bold mb-4 text-center">Member Login</h4>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3 position-relative">
            <input
              pInputText
              id="username"
              type="username"
              class="form-control ps-5"
              placeholder="Usuário"
              formControlName="username"
            />
            <label for="email" class="ms-4">Usuário</label>
            <i class="pi pi-envelope position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></i>
          </div>

          <div class="form-floating mb-4 position-relative">
            <input
              pInputText
              id="password"
              type="password"
              class="form-control ps-5"
              placeholder="Password"
              formControlName="password"
            />
            <label for="password" class="ms-4">Password</label>
            <i class="pi pi-lock position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></i>
          </div>

          <button 
            pButton 
            type="submit" 
            class="w-100 p-button-success p-button-rounded p-button-lg" 
            label="ACESSAR">
          </button>

          <!-- <div class="text-center mt-3 small">
            <a href="#">Forgot Username / Password?</a>
          </div>

          <div class="text-center mt-4 small">
            <a href="#">Create your Account →</a>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
