.logo {
    height: 40px; 
    margin-left: 12px; 
}

::ng-deep .p-panelmenu-panel {
  border: none !important;
  margin: 0px;
  padding: 1px;
//   background: linear-gradient(to right, #6a11cb, #2575fc);
}

::ng-deep .p-panelmenu-panel:hover {
}

::ng-deep .p-panelmenu-header-link {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white !important;
}

::ng-deep .p-panelmenu-header-link:hover {
    border: #2575fc solid 1px;
}

::ng-deep .p-panelmenu-submenu-icon {
    color: #fff !important;
}

::ng-deep .p-panelmenu-submenu-icon:hover {
    color: #fff !important;
}

::ng-deep .p-button-icon-only.p-button-rounded {
    margin-top: 10px;
    margin-left: 25px;
}