<p-toolbar [style]="{ 'border': 'none', 'margin-left': '60px', 'background': 'none'}" >
    <ng-template #start>
        <img 
            src="assets/logo.png" 
            alt="Logo" 
            class="logo" 
        />
    </ng-template>
    <ng-template #center>
        <h1>{{ nameScreen }}</h1>
    </ng-template>
    <ng-template #end>
        <!-- <p-splitbutton label="Save" [model]="items" /> -->
        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" [style]="{ width: '32px', height: '32px' }" /> -->
        <p><img src="assets/icon-online.png" style="width: 20px; margin-top: -3px;" /> Olá, Douglas
            <p-button icon="pi pi-power-off" severity="danger" size="small" [rounded]="true" [raised]="true" />
        </p>
        <!-- <p-speeddial [model]="items" direction="down" [style]="{ position: 'absolute', left: 'calc(95% - 2rem)', top: 0 }" /> -->
    </ng-template>
</p-toolbar>