<p-toolbar class="toolbar-buttons">
    <ng-template class="toolbar-buttons" #start>
        <p-button class="btn-new" severity="contrast" icon="pi pi-plus" label="Novo" />
        <p-button label="Salvar" icon="pi pi-save" disabled="true" />
    </ng-template>
    <ng-template #center>
    </ng-template>
    <ng-template #end>
        <!-- <p-button label="Emitir" icon="pi pi-save" disabled="true" severity='contrast' />
        <p-divider layout="vertical" /> -->
        <p-button [label]="nameBtnSearch" icon="pi pi-search" severity="warn" (onClick)="navigateSearch()" />
    </ng-template>
</p-toolbar>